@import '../../app.scss';

.contact {
  height: 100%;
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 50px;

  @include mobile {
    padding: 10px;
    flex-direction: column;
  }

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include mobile {
      gap: 20px;
      align-items: center;
      text-align: center;
      margin-top: 70px;
    }

    h2 {
      font-size: 100px;
      line-height: 0.8;

      @include mobile {
        font-size: 36px;
      }
    }

    span {
      font-weight: 300;
    }
  }

  .formContainer {
    flex: 1;
    position: relative;

    @include mobile {
      width: 100%;
      padding: 50px;
    }

    .phoneSvg {
      position: absolute;
      margin: auto;
      stroke: orange;
      z-index: -1;

      svg {

        @include mobile {
          width: 300px;
          height: 300px;
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      input,
      textarea {
        padding: 20px;
        background: transparent;
        border: 1px solid white;
        color: white;
        border-radius: 5px;

        @include mobile {
          padding: 10px;
        }
      }

      button {
        padding: 20px;
        border: none;
        background: orange;
        cursor: pointer;
        border-radius: 5px;
        font-weight: 500;

        @include mobile {
          padding: 10px;
        }
      }
    }
  }
}